*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gp-cal{
    text-align: center;
    padding-top: 20px;
    background-color: aqua;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;

} 
.gp-cal input{
    padding: 10px;
    border-radius: 15px;
}
